<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Empleados</title>
</head>
<body>
    <div class="container">
        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{}"></a>                 <!-- COMPLETAR -->
        <form class="input-group mb-lg-3" method="post" th:action="@{'/employee/search'}">
            <input type="text" class="form-control" placeholder="Texto a buscar" name="search">
            <div class="input-group-append">
                <button class="btn btn-outline-primary ml-2 mr-2" type="submit">Buscar</button>
                <a th:href="@{'/employee'}" class="btn btn-outline-danger">Limpiar</a>
            </div>
        </form>

        <!-- COMPLETAR -->
        <!-- COMPLETAR -->
            <table class="table table-sm" th:if="${}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th> Puesto</th>
                    <th> Departamento</th>
                    <th> Ciudad</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tr th:each="job, info : ${listaEmployee}">
                    <td th:text="${info.index + 1}"></td>
                    <td th:text="${job.firstName}"></td>
                    <td th:text="${job.lastName}"></td>
                    <td th:text="${job.jobs.job_title}"></td>
                    <td th:text="${job.department.departmentname}"></td>
                    <td th:text="${job.department.departmentname}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/job/edit' + '?id=' + ${job.employeeId}}">Editar</a></td>
                    <td><a class="btn btn-danger" th:href="@{'/job/delete' + '?id=' + ${job.employeeId}}">Borrar</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>