<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/fragmento.html :: cabecera(titulo = 'Historial empleados')">
</head>
</head>
<body>

<h1>Historial de Empleados</h1>

<table class="table">
    <thead>
    <tr>

        <th>Nombre</th>
        <th>Apellido</th>
        <th>Puesto</th>
        <th>Departamento</th>
        <th>Fecha Inicio</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="jobhistory, info : ${lista}">
        <td th:text="${info.index + 1}"></td>
        <td th:text="${jobhistory.employeeId.firstName}"></td>
        <td th:text="${jobhistory.employeeId.lastName}"></td>
        <td th:text="${jobhistory.jobId.job_title}"></td>
        <td th:text="${jobhistory.departmentId.departmentname}"></td>
        <td th:text="${jobhistory.startDate}"></td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>